body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;

}

.container {
	width: 100%;
	position: absolute;
    top: 25%;
    bottom: 25%;
}

.square1, .square2, .square3 {
	margin: 0 auto;
	width: 150px;
	height: 150px;
}

.square1 {
	background: #FF0000;
}

.square2 {
	position: relative;
	bottom: 100px;
	left: 50px;
	background: #00FF00;
	z-index: 100;
}

.square3 {
	background: #0000FF;
	position: relative;
	bottom: 200px;
	left: 100px;
}