body {
	margin: 0;
	padding: 0;
	width: 100%;
}

.container {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	width: 400px;
	height: 400px;
}

.block {
	width: 70px;
	height: 70px;
	background: orange;
}

.block3 {
	align-self: flex-start;
}

.block2, .block4{
	align-self: center;
}

.block1, .block5 {
	align-self: flex-end;
}



