body {
	margin:0;
	padding:0;
	height: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

.header {
/*	width: 1010px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;*/	
}

.header>div {
	background: #FFA335;
	height: 50px;
	width: 500px;
}

.header>div:first-child {
	float: left;
	margin-right: 5px;
}

.header>div:last-child {
	float: left;
	margin-left: 5px;
}

.clear-block {
	clear: both;
}

.main {
	background: #DAEC00;
	width: 1010px;
	height: 250px;
	margin: 20px 0;
}

.content>div {
	display: inline-block;
	background: #4A89D0;
	width: 330px;
	height: 250px;
	margin-right: 10px;
}

.content>div:last-child {
	margin-right: 0px;
}