html,body {
	margin:0;
	padding:0;
	width: 100%;
	overflow: hidden;

}

.container {
	width: 810px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;	
    

}

.header>div {
	background: #FFA335;
	height: 50px;
	width: 400px;
}

.header>div:first-child { 
	float: left;
	margin-right: 5px;
}

.header>div:last-child {
	float: left;
	margin-left: 5px;
}

.clear-block {
	clear: both;
}

.main {
	background: #DAEC00;
	width: 810px;
	height: 180px;
	margin: 20px 0;
}

.content {
	width: 100%;
	height: 125px;
}

.content>div {
	display: inline-block;
	background: #4A89D0;
	width: 263.3px;
	height: 125px;
	margin-right: 10px;
}

.content>div:last-child {
	margin-right: 0px;
}

footer>div {
	position: absolute;  /*позиционирование с использованием absolute*/
	background: #E3E3E3;
	width: 195px;
	height: 100px;
	margin-top: 20px;
}

footer>div:nth-child(2) {
	margin-left: 205px;
}

footer>div:nth-child(3) {
	margin-left: 410px;
}

footer>div:nth-child(4) {
	margin-left: 615px;
}