@media (max-width: 450px) {
    .slider {
    display: none;
    }
    
    div.content {
        width: 60%;
    }

    div.wrapper {
        min-height: 0;
    }

    .wrapper main {
        width: 100%;
    }

    footer {
        position: relative !important;
    }

}

