html,body {
	margin: 0;
	padding: 0;
	height: 100%;
    width: 100%;
}

* {
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
}

.row, .wrapper {
	width: 90%;
	margin: 0 auto;
}

.header {
	height: 15%;
	background: rgb(106,197,172);
	border-radius: 0 0 20px 20px;
}

.sidebar {
	position: fixed;
	right: 5%;
	width: 10%;
	height: 90%;
	background: rgba(214,64,120,0.7);
}

.sidebar>a {
	display: inline-block;
	position: absolute;
	background: rgb(106,197,172);
	text-decoration: none;
	color: white;
	margin-left: 25%;
	margin-top: 10%;
	padding: 15px;
	border-radius: 20px;

}

.sidebar>a:last-child {
	margin-top: 80px;
}

.sidebar>a:hover {
	background: rgba(154,205,50);
}


.content {
	width: 60%;
	padding: 20px 50px;
	font-size: 1.5em;
}

.wrapper {
	min-height: 100%;
	background: rgb(253,230,168);
}

footer {
	position: relative;
	z-index: 100;
	background: black;
	width: 90%;
	height: 15%;
}

footer>p {
	color: white;
	padding: 10px;
	margin: 0;

}

footer>p:before {
	content: "©";
	padding-right: 5px;

}

ul {
	list-style-type: none;
}

li:before {
	content: "✬ ";
}